*{
    margin:0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    margin-top: 3%;
    margin-bottom: 2%;
}
.navbar a{
    margin-left:3%;
   vertical-align: middle;
   text-decoration: none;
   font-size:17px;
   font-weight: bold;
   color:black;

}
.btn{
    background-color: #00baf2;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border:none;
    border-radius: 30px;
    padding: 0.8% 1%;

}
.btn:hover{
    background-color:#002970;
   
}
/* Wallent starts */
.wallet{
    background-color: #f6f6f6;
    text-align:center;
    padding:1.5%;
}
/* wallent end */
/* section2 start */
.sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6%;

}
.sec2one{
    margin-left:5%;
    width:80%;
}
.img2{
    margin-left:10%;
}
.head2{
    font-size:25px;
    margin-top:2%;
    margin-bottom:2%;
}
.para{
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 20%;
}
.appbtn{
    background-color: black;
    border:none;
    border-radius: 25px;
    padding:1.5% 4%;
    color:white;
    font: size 16px;
    font-weight: bold;
}
.appbtn:hover{
    border:1px solid black;
    background-color: white;
    color:black

}
/* Section 3 */
.sec3{
    margin-top: 3%;
    background-color: #00baf2;
    padding:3%;
}
.head3{
    color:white;
    font-size: 35px;
    margin-top: 2%;
}
.inner3{
    display:flex;
    padding-left:6%;
    padding-right:6%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
}
.inner3 a img {
    width:30%;
}

.inner3 a p {
    /* text-align: center; */
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    width:23;
}

.inner3 a p::after {
    content: '>';
}
/* section 4 */
.sec4{
    display:flex;
    padding: 10%;
    background-color: aliceblue;
    justify-content: space-around;

}
.sec4one{
    width: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
}
.sec4one h1{
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.sec4one p{
    font-size:20px;
    margin-bottom: 5%;

}
.hi{
    margin-left:5%;
    
}